@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter&family=Kanit&family=Roboto:wght@300&family=Space+Grotesk:wght@300;700&display=swap');

body{
 font-family: 'Roboto', sans-serif;
 background-color: black;

}


 .hero-img{
    width: 500px;
    margin-left: auto;
 }

 .hero-img img{
    border-radius: 2rem;
 }

 

 @media only screen and (max-width: 991px){
    .hero-img{
        width: 300px;
    }
   
    .card-bg{
        height: 500px;
    }


 }

 @media only screen and (max-width: 540px){
    img{
        width: 400px;
      
    }
   
    .card-bg{
        height: 500px;
    }


 }


 @media only screen and (max-width: 576px){
.hero-img{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

img{
    width: 100%;
    
}


 }


 @media only screen and (max-width: 745px){
   .hero-img{
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    img{
        width: 100%;
        
    }
 }


 @media only screen and (max-width: 1110px){
    .hero-img{
        width: 330px;
        margin-top: 90px;
    }

    img{
        width: 100%;
        
    }

    
 }